table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

 /* Remove margins and padding from the list, and add a black background color */
ul.topnav_leiste {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav_leiste li {float: left;}

/* Style the links inside the list items */
ul.croatiannav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.croatiannav li a:hover {background-color: #400;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.croatiannav li.icon {display: none;}


body {
    background-image: url("case1");
}
b.Lücke {
    color: red;
}

b.Lücke-ungelöst {
    color: blue;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}
b.Lücke-gelöst {
    color: green; 
    display: none;
}
b.Hinweis {
    color: green;
}
.example {
    background-color: lightgrey;
}
button.link 
{ 
	background:none;
	border:none; 
}
h1 {
    color: blue;
    font-family: courier;
    padding: 30px;
    text-align: center;
    border: 1px solid red;
}
h2, h3, h4 {
    color: red;
    font-family: courier;
    padding: 30px;
    text-align: center;
}
p {
    color: black;
}
